pydantic==2.6.0
requests==2.31.0
pytest==7.4.0
assertpy==1.1
PyYAML==6.0.1
colorlog==6.7.0
PyMySQL==1.1.0
jsonpath==0.82
xlwings==0.30.10
Faker==19.3.0
allure-pytest==2.9.45
allure-python-commons==2.9.45
cachetools==5.3.1
jsonpath_ng==1.6.0
pytest-xdist==3.3.1
pytest-ordering==0.6
openpyxl==3.1.2
playwright==1.32.1
uiautomator2 == 2.16.22
weditor==0.6.4

diskcache==5.6.3