Faker==17.6.0
colorlog==6.7.0
assertpy==1.1
jsonpath==0.82


aiohttp==3.8.5
aiomysql==0.2.0
PyMySQL==1.1.0
automation==0.6.1
aiocache==0.12.1
PyYAML==6.0.1
pytest==7.4.0
requests==2.31.0
urllib3==1.26.16
DingtalkChatbot==1.5.7
xlwings==0.30.10
pydantic==2.1.1
diskcache==5.6.1